body {
    background-color: #4E3524;
    padding-bottom: none;
}

.header {
    text-align: center;
}

#header {
    background-color: #F3FFB6;
    color:#D38B5D;
    font-size: xxx-large;
}

.container {
    margin-bottom: none;
}

#Thread {
    margin-top: 2%;
}

.Posts {
    background-color: azure;
    margin-bottom: 2%;
    border-radius: 8px;
    padding: 1%;
    border: 3px solid black;
}

.Author {
    background-color: darkcyan;
    border-radius: 3px;
    width: fit-content;
    padding: 2px;
    border: 1px solid black;
}

h5 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#ccButton {
    float: right;
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
    background-color:#F3FFB6;
    color: #D38B5D;
    border: 2px solid #2C5530;
}

.modal-content {
    background-color:gray;
    color:white;
}

.thread-title{
    background-color: black;
    border-color: black;
    width: 100%;
    height: 30px;
    color: black;
    resize: none;
}
.thread-body{
    background-color: gray;
    border-color: lightgray;
    width: 100%;
    height: 300px;
    color: black;
    resize: none;
}

.thread-body::placeholder {
    color: lightgray;
}

.thread-title::placeholder {
    color: lightgray;
}